/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.step-counter {
  font-size: 1.2rem;
  color: gray;
}

.hidden {
  display: none;
  visibility: hidden;
}

.output-type {
  border-bottom: 0.1rem solid rgb(230, 230, 230);
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.output-title {
  font-size: small;
  color: rgb(80, 80, 80);
}

.output-delete {
  cursor: pointer;
  color: red;
}

.output-delete:hover {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.red-outline {
  border-color: #e34f4f;
}

.red-text {
  color: #e34f4f;
}

.wide {
  width: 100%;
}

.margin_top_sm {
  margin-top: 1rem;
}

.Projects__Output {
  border: 1px blue solid;
  border-radius: 2px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.Projects__OutputTop {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
  max-height: 2rem;
  align-items: center;
  margin-bottom: 10px;
}

.Projects__buttons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.Projects__Btn {
  width: 5rem !important;
  height: 2.2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.Projects__Btn:hover {
  background-color: #e34f4f;
}

.Edit__Btn:hover {
  background-color: #ffb95d;
}

.skip {
  margin-right: 5rem;
}

.Projects__SelectedProjectHeading {
  font-size: 0.9rem;
  font-weight: 500;
  width: 30%;
}

.Projects__SelectedProjectContent {
  margin-bottom: 5px !important;
  width: 70%;
}

/** Results **/

.Results__Container {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  color: black;
  min-width: 30rem;
  max-width: 30rem;
  max-height: 60vh;
  min-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Results__List {
  display: grid;
  list-style: none;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

}

.Results__List::after,
.Results__list::before {
  display: none !important;
  visibility: hidden;
}

.Results__Item {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-top: 3px;
}

.Results__Label {
  font-weight: 500;
  width: 25%;
  text-align: left;
  margin: 0;
}

.Results__Value {
  margin-left: 8px;
  text-align: left;
  width: 75%;
  margin: 0;
}

.Results__SubContainer {
  width: 100%;
  margin: 0 0.2em 0.8em 0;
}

.Results__Title {
  margin: 0 !important;
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  color: black;
  text-align: left;
  width: 100%;
  position: relative;
}

.Results__Dropdown {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 5px 5px 5px 0;
}

.Results__Dropdown:focus {
  outline: none;
}

.Results__Dropdown:hover {
  text-decoration: underline;
}

.Results__ButtonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.accordion-arrow {
  display: inline-block;
  transition: transform 0.3s;
  font-size: 0.9rem;
}

.accordion-arrow.expanded {
  transform: rotate(180deg);
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.background {
  z-index: -1;
}

.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.styled-select-search {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.dropdown-option {
  color: black;
  cursor: pointer;
  padding: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}

.dropdown-options {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.stronger {
  font-weight: bolder;
}